@font-face {
    font-family: BebasNeue;
    src: url('BebasNeue-Regular.otf');
}

.body {
    background-image: url("Commentators_overlays.png");
    background-repeat: no-repeat;
    background-size: 1980px, 1080px;
    margin: 0px;
    height: 1080px;
    width: 1980px;
}

.Scoreboard {
    text-align: center;
    height: 125px;
}

    .Scoreboard > table {
        padding-top: 860px;
        padding-left: 90px;
        height: inherit;
    }

    .Scoreboard > div {
        vertical-align: top;
        display: inline;
        height: inherit;
    }

.TournamentRound {
    font-family: BebasNeue;
    text-align: center;
    font-size: 30px;
    color: white;
    padding-top: 10px;
}

#Comm1NameHolder {
    min-width: 800px;
    max-width: 800px;
}
#ScoreSeperator {
    min-width: 250px;
}

#Comm2NameHolder {
    min-width: 800px;
    max-width: 800px;
}


.CommNameText {
    font-family: BebasNeue;
    font-size: 70px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    text-transform: none;
    display: inline;
    vertical-align: central;
}

.CommPrefixText {
    font-family: BebasNeue;
    font-size: 70px;
    letter-spacing: 2px;
    word-spacing: 2px;
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(244,161,161,1) 100%);
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    text-transform: uppercase;
    display: inline;
    vertical-align: central;
}

.CommTwitterText {
    font-family: BebasNeue;
    font-size: 50px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color:#FFFFFF;
    font-weight: 400;
    font-style:italic;
    text-decoration: none solid rgb(68, 68, 68);
    text-transform: uppercase;
    display: inline;
    vertical-align: central;
}
.ScoreText {
    font-family: BebasNeue;
    font-size: 80px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    display: inline;
}

.container {
    display: inline;
}
    .container p {
        background-clip: text;
        -webkit-background-clip: text;
        color: rgba(0, 0, 0, 0.2);
    }
